div{
    background: linear-gradient( 135deg, #ff7e5f, #feb47b);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 200px;
}
    button{
        
    }
    body{
        background: linear-gradient( 45deg, #ff7e5f, #feb47b);
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-size: 400% 400%;
    }
    h1{
        font-family: 'Audiowide', cursive;
        color: white;
    }